<h3>Create An Account</h3>
<form [formGroup]="authForm" class="ui form" (ngSubmit)="onSubmit()">
  <app-input label="Username" [control]="authForm.get('username')" type="text"></app-input>
  <app-input label="Password" [control]="authForm.get('password')" type="password"></app-input>
  <app-input label="Password Confirmation" [control]="authForm.get('passwordConfirmation')" type="password"></app-input>
  <div
    class="ui red basic label"
    *ngIf="authForm.get('password').touched && authForm.get('passwordConfirmation').touched && authForm.errors">
    <p *ngIf="authForm.errors.passwordsDontMatch">
      Password and Password Confirmation must match
    </p>
    <p *ngIf="authForm.errors.noConnection">
      No internet connection, please try later
    </p>
    <p *ngIf="authForm.errors.unknownError">
      Failed Sign Up
    </p>
  </div>
  <div>
    <button class="ui button submit primary">Submit</button>
  </div>
</form>
