<h3>Sign In</h3>
<form [formGroup]="authForm" class="ui form" (ngSubmit)="onSubmit()">
  <app-input label="Username" [control]="authForm.get('username')" type="text"></app-input>
  <app-input label="Password" [control]="authForm.get('password')" type="password"></app-input>
  <div class="ui red basic label" *ngIf="authForm.errors">
    <p *ngIf="authForm.errors.credentials">
      Invalid username or password
    </p>
  </div>
  <div>
    <button class="ui button submit primary">Submit</button>
  </div>
</form>
